body{  
    background: rgb(227, 238, 255);
    margin: 30px;
	margin-left: 30px
	margin-right: 30px
    text-decoration: none;
    padding: 10px;
	
	font-size: 50px;
	text-align: center;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1{
    font-size: 350%;
    text-align: center;
    background-color: cornflowerblue;
    width: 100%;
    height: 100%;
    margin: 0%;
    line-height: 2.5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif


}
h2{
    font-size: 250%;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
a {
    text-decoration: none;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif


}
h4{
	font-size: 30px;
	text-align: center;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h3{
	font-size: 25px;
	text-align: center;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

.image-container{     <!-- Image of the index page -->
    display: block;
    margin: 20px auto; 
    text-align: center;
    max-width: 100%;
}

p{
	font-size: 30px;
	text-align: center;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.profile {     <!-- details of the aboutus page of the pictures -->
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-bottom: 20px;
	border-radius: 10px;
	background-color: white;
}

.profile-image { <!-- details of the aboutus page of the pictures -->
	float: center;
    width: 140px; 
    height: auto;
    border-radius: 10px;
	margin-right: 15px;
	border-radius: 10px;
}
 .resource-links {
            display: flex;
            flex-direction: column;
            align-items: center;
 }
.tech-hero { <!-- details of the techhero page of the pictures -->
    text-align: center;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightblue1;
}

.hero-image img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.hero-info {
    text-align: left;
    padding: 10px;
}

.hero-links {
    list-style-type: none;
    padding: 0;
}
